.ImageSlideShow-slide {
  height: auto;
  padding: 30px;
  /* width: 100%; */
}
.ImageSlideShow-slide img {
  height: auto;
  object-fit: contain;
}

/* .ImageSlideShow-slide h1,p{
    color: black;
} */

@media screen and (min-width: 868px) {
  .ImageSlideShow-slide {
    height: 50rem;
  }
}

@media screen and (max-width: 700px) {
    .ImageSlideShow-slide {
     padding: 10px;
    }
  }

@media screen and (min-width: 1200px) {
    .carousel-caption h1 {
      font-size: 10rem;
    }
    
    .carousel-caption p {
      font-size: 1rem;
    }
    
  }
