.CompanyFeatures-container {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}
.CompanyFeatures-container img {
  height: 60px;
}
.CompanyFeatures-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 20px 10px;
}
.CompanyFeatures-item:hover {
  background-color: rgb(241, 241, 241);

  /* border: 0.1px solid rgb(145, 145, 145); */
}
.CompanyFeatures-icon-text h6 {
  font-weight: 600;
}

.CompanyFeatures-icon-text p {
  font-size: 12px;
  color: rgb(120, 121, 122);
}

@media screen and (max-width: 769px) {
  .CompanyFeatures-item {
    display: flex;
    flex-direction: column;
  }
  .CompanyFeatures-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CompanyFeatures-icon-text p{
    text-align: center;
  }
}
