.RegisterSection-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.RegisterSection-text h1{
    font-family: "Imbue", serif;
    font-size: 66px;
}

.RegisterSection-text p {
    font-family: 'Inter', sans-serif;
    letter-spacing: 3px;
    margin-top: 20px;
}
.RegisterSection-text button{
    margin-top: 20px;
    background-color: #3051FF;
    border-radius: 50px;
    padding: 10px 30px;
    border: none;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
}
.RegisterSection-text button:hover{
    
    background-color: #200455;
    padding: 10px 70px;
    color: rgb(255, 254, 254);
}
.RegisterSection-image {
  display: flex;
  justify-content: center;
}

.enrollment-buttons {
  display: flex;
  justify-content: center;
}

.enrollment-buttons button {
  width: 200px;
}