.RegisterForm-container {
  /* background-color: black; */
}

.RegisterForm-inputSection {
  display: flex;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: center;
}

.InputSection-container {
  width: 100%;
}

.InputSection-input {
    border-bottom: 1px solid;
}

.InputSection-header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(16, 47, 73);
}
.InputSection-description p{
font-weight: 600;
color: rgb(0, 0, 0, 0.6);
}

.InputSection-continue{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.RegisterForm-image {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 765px) {
  .RegisterForm-image img{
    height: 230px;;
  }
  
}

